@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  cursor: pointer;
}
